body{
	margin: 0;
	padding: 0;
	background-color: gainsboro;
}

nav{
	border: 2px solid blueviolet;
	padding: 10px;
	margin-bottom: 15px;
	background-color: #fff;
}

p{
	text-align: center;
}

form{
	margin:  0 auto;
	width: 35%;
	padding: 20px;
	background-color: aquamarine;
}

label, input, textarea, button{
	display: block;
}

label{
	margin-bottom: 10px;
	margin-top: 5px;
}

input{
	cursor: pointer;
	border: 1px solid black;
	width: 80%;
	padding: 6px;
}

textarea{
	border: 1px solid lightblue;
	background-color: aqua;
	color: black;
	font-weight: bolder;
	padding: 8px;
	width: 80%;
}
 button{
 	margin: 0 auto;
 	background-color: black;
 	color: white;
 	width: 30%;
 	padding: 6px;
 	margin-top: 10px;
 }


